<% block "title": %>Works<% end %>
<% block "main": %>

<div class="column">
    <div class="float-left card-normal">
        <h2>g4d</h2>
        <p class="content">g4d is graphics library for dlang.<br>
        <a href="https://github.com/KanzakiKino/g4d" target="_blank">github:KanzakiKino/g4d</a></p>
    </div>
    <div class="float-left card-normal">
        <h2>easyFF</h2>
        <p class="content">easyFF is a wrapper library for FFmpeg.<br>
        <a href="https://github.com/KanzakiKino/easyFF" target="_blank">github:KanzakiKino/easyFF</a></p>
    </div>
</div>

<div class="column">
    <div class="float-left card-normal">
        <h2>easyFF-d</h2>
        <p class="content">easyFF-d is D bindings of easyFF.<br>
        <a href="https://github.com/KanzakiKino/easyFF-d" target="_blank">github:KanzakiKino/easyFF-d</a></p>
    </div>
    <div class="float-left card-normal">
        <h2>memorizer</h2>
        <p class="content">memorizer is a console application that helps your memorizing.<br>
        <a href="https://github.com/KanzakiKino/memorizer" target="_blank">github:KanzakiKino/memorizer</a></p>
    </div>
</div>

<div class="float-clear"></div>

<% end %>
<% extend "template/main.temp.html" %>
