@charset "utf-8";

@import "./template.scss";

.block-center
{
    margin-left: auto !important;
    margin-right: auto !important;
}

.float-left
{
    float: left;
}
.float-right
{
    float: right;
}
.float-clear
{
    clear: both;
}

.card-normal
{
    width: calc(100% - 22px);
    @include tablet ()
    {
        width: calc(100% - 22px);
    }

    margin: 5px;
    padding: 5px;
    border: solid 1px #ddd;
    border-radius: 5px;

    background-color: #f8f8f8;

    .icon {
        display: block;
        width: 25%;
        float: left;
        margin: 5px;
        padding: 5px;

        border-radius: 15px;

        @include mobile ()
        {
            float: none;
            margin: 5px auto;
        }
    }
    .content {
        float: left;
        margin-left: 5%;

        @include tablet ()
        {
            margin-left: 3%;
        }
        @include mobile ()
        {
            float: none;
            margin-left: 2%;
            text-align: center;
        }

        .name {
            font-size: 2.5em;
        }
        .attr {
            font-size: 1.5em;
        }
        .sns {
            @include mobile ()
            {
                position: relative;
                left: 50%;
                float: left;

                li {
                    position: relative;
                    left: -50%;
                    float: left;
                }
            }
        }
    }
}
.card-big
{
    @extend .card-normal;

    width: calc(80% - 22%);
    @include tablet ()
    {
        width: calc(90% - 22px);
    }
}

.column
{
    float: left;
    width: 50%;

    @include tablet ()
    {
        width: 100%;
    }
}

ul.notify
{
    list-style-type: none;

    li {
        padding: 10px;
        border-top: dotted 1px gray;
    }
    .notify-date {
        font-size: 80%;
    }
    .notify-content {
        width: auto;
        text-align: center;
    }
}

.sns
{
    margin: 5px;
    li {
        float: left;
        margin-right: 3px;
    }
    img {
        width: 2em;

        transition: opacity, 0.5s;
        &:hover {
            opacity: 0.5;
        }
    }
}
