@charset "utf-8";

@import "./template.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*
{
    font-family: Montserrat, sans-serif;
}

body
{
    min-width: $breakpoint-mobile/2;
    background-color: #d8d8d8;
}

#header
{
    width: 100%;
    height: 80px;

    background-color: #f8f8f8;
    border-bottom: solid 1px #eee;

    overflow: hidden;

    .text {
        width: 100%;
        text-align: center;

        position: absolute;
        left: 0;
        top : 0;
        z-index: 1;

        .logo {
            color: #aaa;

            font-size: 32px;
            line-height: 1.5em;
            text-decoration: none;
        }
        .title {
            color: #bbb;
            font-size: 20px;
            line-height: 1.5em;
            font-weight: normal;
        }
    }
    .rect {
        width: 100px;
        height: 100px;

        position: relative;
        left: -webkit-calc(50% - 50px);
        top: -webkit-calc(50% - 50px);
        z-index: 2;

        background-color: #222;
        mix-blend-mode: difference;

        transform: rotateZ(45deg);
    }
}

#menu
{
    width: 100%;
    overflow: hidden;
    position: relative;

    background-color: #f0f0f0;
    border-bottom: solid 1px #eee;

    ul {
        position: relative;
        left: 50%;
        float: left;
    }
    .item {
        position: relative;
        left: -50%;
        float: left;

        padding: 5px;
        text-align: center;
        text-decoration: none;

        transition: background-color, 0.5s;
        &:hover {
            background-color: #f8f8f8;
        }

        .text {
            color: black;
        }
        .icon {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0 auto;

            opacity: 0.5;

            @include tablet () {
                display: none;
            }
        }
    }
}

#contents
{
    width: 70%;
    clear: both;

    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

    @include tablet () {
        width: 75%;
    }
    @include mobile () {
        width: 90%;
    }
}

#footer
{
    margin: 10px;
    text-align: center;

    .sns {
        position: relative;
        left: 50%;
        float: left;

        li {
            position: relative;
            left: -50%;
            float: left;
        }
    }
}
