<% block "title": %>Home<% end %>
<% block "main": %>

<div class="block-center card-big">
    <img src="./icon/kinok.png" class="icon">
    <div class="content">
        <div class="name">KanzakiKino</div>
        <ul class="attr">
            <li>Programming</li>
            <li>Gaming</li>
        </ul>
        <% include "./template/mysns.temp.html" %>
    </div>
    <div class="float-clear"></div>
</div>

<div class="column">
    <div class="card-normal">
        <h2>Notifications</h2>
        <ul class="notify">
            <% for item in @notifications: %>
            <li><div class="notify-date"><%- item.date %></div><div class="notify-content"><%- item.content %></div></li>
            <% end %>
        </ul>
    </div>
</div>
<div class="column">
    <div class="float-left card-normal">
        <a class="twitter-timeline" data-height="500" href="https://twitter.com/knzk_work?ref_src=twsrc%5Etfw">Tweets by knzk_work</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<div class="float-clear"></div>

<% end %>
<% extend "./template/main.temp.html" %>
