<% block "title": %>Home<% end %>
<% block "main": %>

<div class="block-center card-big">
    <h2>Profile</h2>
    <img src="./icon/kinok.png" class="icon">
    <div class="content">
        <div class="name">KanzakiKino</div>
        <ul class="attr">
            <li>Programming</li>
            <li>Gaming</li>
        </ul>
        <% include "./template/mysns.temp.html" %>
    </div>
    <div class="float-clear"></div>
</div>

<p style="text-align:center;margin:10px;font-size:2em;">Sorry, This server is in maintenance.</p>

<% end %>
<% extend "./template/main.temp.html" %>
